.THIS .productInfo {
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
}

.THIS .orderInfoHeaderInComplaints{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.THIS .orderInfoInComplaints{
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
}

.THIS .addressOnOrderDetails{
    font-size: 20px;
}

.THIS .totalOrderPrice{
    font-weight: bold;
    font-size: 30px;
}

.THIS .orderSummaryHeader{
    font-style: italic;
    font-size: 25px;
}

.THIS .proceedModalButtons{
    margin-top: 10px;
    font-size: 20px;
}

.THIS .productsListDiv{
    padding-top: 20px;
}

.THIS .summaryDiv{
    font-style: italic;
    font-size: 20px;
}