.THIS.productTileDiv{
    padding: 5px;
}

.THIS .itemTitle{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.THIS .itemTitle:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.THIS .itemPrice{
    font-size: 18px;
    font-weight: bold;
}

.THIS .greyIcon{
    background-color: grey;
}

.THIS .observeIcon{
    cursor: pointer;
}

.THIS .isHidden{
    display: none;
}

.THIS .isShown{
    display: block;
}

.THIS.withBorder{
    border: 1px solid black;
}

.THIS .highlightedIcon{
    background-color: green;
}

.THIS .observeIcon:hover{
    background-color: green;
}