.THIS.productTileDiv{
    padding: 5px;
}

.THIS .itemTitle{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.THIS .itemTitle:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.THIS .img{
    cursor: pointer;
}

.THIS .itemPrice{
    font-size: 18px;
    font-weight: bold;
}

.THIS .crossedPrice{
    font-size: 16px;
    display: inline-block;
}

.THIS .greyIcon{
    background-color: grey;
}

.THIS .observeIcon{
    cursor: pointer;
    margin-top: -20px;
}

.THIS .isHidden{
    display: none;
}

.THIS .isShown{
    display: block;
}

.THIS.blackBorder{
    border: 1px solid black;
}

.THIS .highlightedIcon{
    background-color: green;
}

.THIS .observeIcon:hover{
    background-color: green;
}

.THIS .strikethrough {
  position: relative;
}

.THIS .strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}