.THIS .productName{
    font-size: 24px;
    font-weight: bold;
}

.THIS .productFamily{
    font-size: 16px;
}

.THIS .productPrice{
    font-size: 32px;
    font-weight: bold;
}

.THIS .productDescription{
    padding-top: 20px;
    font-size: 16px;
}

.THIS.rateProductText{
    padding-top: 10px;
    font-size: 20px;
}

.THIS .iconsDiv{
    padding-top: 30px;
}

.THIS .observeIcon, .THIS .basketIcon{
    cursor: pointer;
}

.THIS .greyIcon{
    background-color: grey;
}

.THIS .highlightedIcon{
    background-color: green;
}

.THIS .observeIcon:hover{
    background-color: green;
}

.THIS .basketIcon:hover{
    background-color: green;
}

.THIS.commentsHeader{
    font-size: 32px;
    font-weight: bold;
}

.THIS .addCommentDiv{
    padding-top: 10px;
}

.THIS .commentAuthor{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.THIS .commentText{
    font-size: 18px;
}