.THIS .productName{
    font-size: 24px;
    font-weight: bold;
}

.THIS .productFamily{
    font-size: 16px;
}

.THIS .productPrice{
    font-size: 32px;
    font-weight: bold;
}

.THIS .productDescription{
    padding-top: 20px;
    font-size: 16px;
}

.THIS.rateProductText{
    padding-top: 10px;
    font-size: 30px;
}

.THIS .iconsDiv{
    padding-top: 30px;
}

.THIS .observeIcon, .THIS .basketIcon{
    cursor: pointer;
}

.THIS .greyIcon{
    background-color: grey;
}

.THIS .highlightedIcon{
    background-color: green;
}

.THIS .observeIcon:hover{
    background-color: green;
}

.THIS .basketIcon:hover{
    background-color: green;
}

.THIS.commentsHeader{
    font-size: 32px;
    font-weight: bold;
}

.THIS .commentAuthor{
    font-size: 20px;
    font-weight: bold;
}

.THIS .commentText{
    font-size: 18px;
    font-style: italic;
}

.THIS .commentHeader{
    font-size: 18px;
}

.THIS .singleComment{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
}

.THIS .textAreaDiv{
    font-size: 20px;
}

.THIS.buttonSendComment{
    font-size: 24px;
}