
.THIS.homeImg{
    height: 1080px;
    width: 1900px;
}

.THIS .header{
    text-align: center;
    font-size: 100px;
}

.THIS .phrase{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

.THIS .chevronDown{
    padding-top: 50px;
    padding-left: 950px;
    cursor: pointer;
}

.THIS .chevronDown svg{
    fill: black;
}