.THIS.imgDiv{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.THIS .infoContainer{
    float: right;
    margin-top: 7vh;
    margin-right: 5vw;
    width: 30%;
    height: 70%;

    background-color:rgba(255, 255, 255,0.7);
}

.THIS .header{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.THIS .contactUs{
    padding-right: 70px;
    font-size: 50px;
    text-align: right;
    font-style: italic;
}

.THIS .tel{
    margin: 0 auto;
    font-size: 60px;
    width: 80%;
    border: 5px solid black;
    font-weight: bold;
    text-align: center;
}