
.THIS.resultDiv{
    font-size: 14px;
    line-height: 3;
}

.THIS.selected{
    font-size: 16px;
    font-weight: bold;
}

.THIS.resultDiv:hover{
    background: #F8F8F8;
}

.THIS .pricebookName{
    cursor: pointer;
}

.THIS .pricebookName{
    text-decoration: underline;
}

.THIS .pricebookName:hover{
    color: blue;
}

.THIS .deleteIcon{
    margin-left: 10px;
    cursor: pointer;
}

.THIS .editIcon{
    cursor: pointer;
}

.THIS .deleteIcon:hover{
    background: darkred;
}

.THIS .editIcon:hover{
    background: darkblue;
}


