
.THIS.resultDiv{
    font-size: 14px;
    line-height: 3;
}

.THIS .pricebookName{
    cursor: pointer;
}

.THIS .pricebookName{
    text-decoration: underline;
}

.THIS .pricebookName:hover{
    color: blue;
}
