.THIS.card{
    padding: 10px;
}

.THIS .tableHeader{
    font-size: 20px;
    font-weight: bold;
}

.THIS .header{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.THIS .buttonDiv{
    margin-top: 10px;
    font-size: 16px;
}

.THIS .scroll{
    height: 10rem;
}