

.THIS .tableHeader{
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
}

.THIS .header{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.THIS .buttonDiv{
    margin-top: 10px;
    font-size: 16px;
}

.THIS .scroll{
    height: 15rem;
}

.THIS .selectedPricebook{
    font-size: 16px;
    font-weight: bold;
}