

.THIS.iterationItems{
    font-size: 16px;
    line-height: 2.5;
}

.THIS .moreIcon:hover{
    background-color: darkblue;
    cursor: pointer;
}

.THIS .complaintIcon:hover{
    background-color: orangered;
    cursor: pointer;
}