.THIS.card{
    padding-left: 20px;
    padding-right: 20px;
}

.THIS.searchBarDiv{
    font-size: 20px;
}

.THIS .header{
    font-size: 20px;
}

.THIS .scroll{
    margin-top: 35px;
    height: 15rem;
}