.THIS.card {
    margin-top: 20px;
    padding: 20px;
}

.THIS .header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.THIS .infoDiv{
    text-align: left;
    font-size: 20px;
}

.THIS .infoText{
    margin-top: 25px;
    margin-right: 10px;
}

.THIS .button{
    margin-top: 30px;
}

.THIS .scroll{
    margin-top: 10px;
    height: 25rem;
}

.THIS .inputDiv{
    margin-left: 5px;
    margin-right: 5px;
}