.THIS.card {
    margin-top: 20px;
    padding: 20px;
}

.THIS .header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.THIS .infoDiv{
    text-align: left;
    font-size: 20px;
}

.THIS .infoText{
    margin-top: 25px;
}

.THIS .button{
    margin-left: -15px;
    margin-top: 26px;
    font-size: 25px;
}

.THIS .scroll{
    margin-top: 20px;
    height: 35rem;
}

.THIS .searchBarDiv{
    margin-top: 30px;
}

.THIS .checkboxDiv{
    margin-top: 23px;
    margin-left: 30px;
    font-size: 20px;
}